.center-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: cursive, Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: .5rem;
}

h1{
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 2rem;
}

